@charset "utf-8";
@import url("reset.css");

body *{
	word-break:normal;
	-webkit-font-smoothing: antialiased;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body{
	font-family: 'Pavanam', sans-serif;
	color:#4f4f4f;
}

body a{text-decoration:none;}

.wrap{
	position:relative;
	display:block;
	margin:0px auto;
	width: 90%;
}

.b{display:block;}

.l{
	position:relative;
	float:left;
}

.r{
	position:relative;
	float:right;
}

.c::after{
	clear:both;
	position: relative;
	display: block;
	content: "";
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
	background-color:#fff;
}

main{background-color:#fff;}

#wrap {
	min-height:100%;
	position:relative;
	overflow: hidden;
	background-color:#000000;
}


textarea[placeholder] { text-overflow: ellipsis; color:#969695; opacity: 1; font-weight: 300; }
input[placeholder] { text-overflow: ellipsis; color:#969695; opacity: 1; font-weight: 300; }
::-moz-placeholder { text-overflow: ellipsis; color:#969695; opacity: 1; font-weight: 300; }
input::-webkit-input-placeholder {color: #969695; opacity: 1; font-weight: 300;}
textarea::-webkit-input-placeholder {color: #969695; opacity: 1; font-weight: 300;}
input:-ms-input-placeholder {color: #969695; opacity: 1; font-weight: 300;}
textarea:-ms-input-placeholder {color: #969695; opacity: 1; font-weight: 300;}