div
	div
		.wrap.flex
			.flex25
				a(href="index.php",title="SherpaBase",rel="home") <!-- -->
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quisquam, fugit facere impedit atque quasi neque dolor magni! Ipsum totam veritatis omnis excepturi asperiores architecto corporis voluptatum consequatur nulla similique.
			.flex25
				nav
					ul
						li
							p
								strong How it Works
						li
							a(href="#",title=" Lorem ipsum dolor.")  Lorem ipsum dolor.
						li
							a(href="#",title=" Lorem ipsum dolor.")  Lorem ipsum dolor.
						li
							a(href="#",title=" Lorem ipsum dolor.")  Lorem ipsum dolor.
						li
							a(href="#",title=" Lorem ipsum dolor.")  Lorem ipsum dolor.
						li
							a(href="#",title=" Lorem ipsum dolor.")  Lorem ipsum dolor.
						li
							a(href="#",title=" Lorem ipsum dolor.")  Lorem ipsum dolor.																																			
			.flex25
				nav
					ul
						li
							p
								strong Contact us
						li
							p
								i.material-icons &#xE0B0;
								span 1-800-222-222
						li
							p
								i.material-icons &#xE0E1;
								a(mailto="contact@sherpabase.com",title="contact@sherpabase.com") contact@sherpabase.com
						li
							p
								i.material-icons &#xE8AE;
								span Everyday 9:00 - 17:00
						li
							p
								strong Follow us
							ul.social
								li
									a(href="#",class="zocial-facebook")  <!-- -->
								li
									a(href="#",class="zocial-twitter")  <!-- -->
								li
									a(href="#",class="zocial-linkedin")  <!-- -->
								li
									a(href="#",class="zocial-googleplus")  <!-- -->
								li
									a(href="#",class="zocial-instagram")  <!-- -->
			.flex25
				p
					strong Sign up our newsletter
				form
					input(type="text")
					button
	div
		.wrap.flex
			.flex50
				nav
					ul
						li
							a(href="#",title="Home") Home
						li
							a(href="#",title="About") About
						li
							a(href="#",title="Terms") Terms
						li
							a(href="#",title="Contact") Contact
			.flex50
				p Powered By WordPress, Copyright 2017 All Right Reserved
