.wrap.flex
	.flex30
		a(href="index.php",title="SherpaBase",rel="home") <!-- -->
	.flex70
		nav
			ul
				li
					a(href="#",title="How it works") How it works
				li
					a(href="#",title="Gallery") Gallery
				li
					a(href="#",title="Team") Team
				li
					a(href="#",title="Progress") Progress
				li
					a(href="#",title="Testimonials") Testimonials
				li
					a(href="#",title="CTAs") CTAs
				li
					a(href="#",title="FAQs") FAQs
				li
					a(href="#",title="Forms") Forms																												
				li
					a(href="#",title="Downloads") Downloads
				li
					a(href="#",title="Sign Up",class="btn btn_default") Sign Up

