extend ./layout.jade
block vars
	- var title='SherpaBase - Home'
	- var bodyClass = 'pg-home'
block content
	section#webdoor
		.wrap
			h1
				span Overview
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quas, nisi. Beatae est eos dolor laudantium aliquam unde consequatur iusto. Rerum repellat, quidem consequatur libero veritatis magni, dolores hic quaerat.
				a(href="#",title="View More",class="btn btn_default") View More
	section#how-it-works
		.wrap
			h1
				span How it works
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reprehenderit voluptatem voluptas sit voluptate distinctio dolorum laudantium quasi, cupiditate dignissimos.
			ul.flex
				li.flex33
					img(src="./assets/charts.png")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reprehenderit voluptatem voluptas sit voluptate distinctio dolorum laudantium quasi, cupiditate dignissimos.
				li.flex33
					img(src="./assets/coffee.png")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reprehenderit voluptatem voluptas sit voluptate distinctio dolorum laudantium quasi, cupiditate dignissimos.
				li.flex33
					img(src="./assets/people.png")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reprehenderit voluptatem voluptas sit voluptate distinctio dolorum laudantium quasi, cupiditate dignissimos.
	section#photo-gallery
		.wrap
			h1
				span Photo Gallery
			ul.gallery.grid
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
				li
					a(href="javascript:void(0)")
						img(src="./assets/gallery.jpg")
	section#about-the-team
		.wrap
			h1
				span About the team
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ut quisquam nisi, aliquid quaerat molestiae alias perferendis facere sapiente minus, exercitationem at aspernatur similique reiciendis.
			ul#team.grid
				li
					div
						h2 Lorem ipsum dolor.
						p  Lorem ipsum.
						ul
							li
								a(href="#",class="zocial-facebook") <!-- -->
							li
								a(href="#",class="zocial-instagram") <!-- -->
							li
								a(href="#",class="zocial-linkedin") <!-- -->
				li
					div
						h2 Lorem ipsum dolor.
						p  Lorem ipsum.
						ul
							li
								a(href="#",class="zocial-facebook") <!-- -->
							li
								a(href="#",class="zocial-instagram") <!-- -->
							li
								a(href="#",class="zocial-linkedin") <!-- -->
				li
					div
						h2 Lorem ipsum dolor.
						p  Lorem ipsum.
						ul
							li
								a(href="#",class="zocial-facebook") <!-- -->
							li
								a(href="#",class="zocial-instagram") <!-- -->
							li
								a(href="#",class="zocial-linkedin") <!-- -->
				li
					div
						h2 Lorem ipsum dolor.
						p  Lorem ipsum.
						ul
							li
								a(href="#",class="zocial-facebook") <!-- -->
							li
								a(href="#",class="zocial-instagram") <!-- -->
							li
								a(href="#",class="zocial-linkedin") <!-- -->
				li
					div
						h2 Lorem ipsum dolor.
						p  Lorem ipsum.
						ul
							li
								a(href="#",class="zocial-facebook") <!-- -->
							li
								a(href="#",class="zocial-instagram") <!-- -->
							li
								a(href="#",class="zocial-linkedin") <!-- -->
				li
					div
						h2 Lorem ipsum dolor.
						p  Lorem ipsum.
						ul
							li
								a(href="#",class="zocial-facebook") <!-- -->
							li
								a(href="#",class="zocial-instagram") <!-- -->
							li
								a(href="#",class="zocial-linkedin") <!-- -->
	section#current-progress
		.wrap
			h1
				span Current Progress
			ul.flex
				li.flex25
					p Objective
						span Cash Flow
				li.flex25
					p Investiment Type
						span Equity&Debt
				li.flex25
					p Distributions
						span Quarterly
				li.flex25
					p Strategy
						span Value Add & Stabilized
			#investment
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error impedit, fuga odit quod nulla minima neque sit, mollitia ratione laudantium et molestiae, illum. Temporibus voluptatem, debitis asperiores magnam nulla nesciunt.
				span.progress
					span 50%
				p $ 500.000 of $ 1.000.000 raised
				a(href="#",title="Invest Now",class="btn btn_default") Invest Now
			h3 Objective
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dicta commodi itaque, minima deserunt impedit sed soluta voluptas, optio, asperiores excepturi placeat nulla, natus accusamus.
			#chart <!-- -->
			h4 Hypotetical Returns Over Life of Investment
			p 
				small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae rem ut, quam libero qui pariatur!
			h3 Strategy
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dicta commodi itaque, minima deserunt impedit sed soluta voluptas, optio, asperiores excepturi placeat nulla, natus accusamus.
			#chart <!-- -->
			p  
				small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dicta commodi itaque, minima deserunt impedit sed soluta voluptas, optio, asperiores excepturi placeat nulla, natus accusamus.
			h4 Time Horizon
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur tempore eaque, odit ratione hic autem, expedita quisquam facere ad totam qui. Repellat numquam laudantium obcaecati.
			#chart <!-- -->
			p 
				small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore dolore sunt, minima veritatis ab.
	section#as-seen-in
		.wrap
			h1
				span As seen in
			ul
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
				li
					a(href="#",title="")
						img(src="")
	section#current-testimonials
		.wrap
			h1
				span Current Testimonials
			ul#testimonials
				li
					div.avatar(style="background-image:url();") <!-- -->
					div
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid quo pariatur, officiis ut quaerat, veniam, quibusdam dolore molestias dolorem quae eius at a eum voluptas alias vel saepe, laborum quam? Inventore itaque optio quisquam dignissimos! Minus labore magni, ullam debitis, expedita commodi vero aliquam impedit sit eos illum ab?
						br
						p
							b Paul Rudson
								br
								small Business Inteligence Analyst
				li
					div
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid quo pariatur, officiis ut quaerat, veniam, quibusdam dolore molestias dolorem quae eius at a eum voluptas alias vel saepe, laborum quam? Inventore itaque optio quisquam dignissimos! Minus labore magni, ullam debitis, expedita commodi vero aliquam impedit sit eos illum ab?
						br
						p
							b Paul Rudson
								br
								small Business Inteligence Analyst
				li
					div.avatar(style="background-image:url();") <!-- -->
					div
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid quo pariatur, officiis ut quaerat, veniam, quibusdam dolore molestias dolorem quae eius at a eum voluptas alias vel saepe, laborum quam? Inventore itaque optio quisquam dignissimos! Minus labore magni, ullam debitis, expedita commodi vero aliquam impedit sit eos illum ab?
						br
						p
							b Paul Rudson
								br
								small Business Inteligence Analyst
				li
					div
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid quo pariatur, officiis ut quaerat, veniam, quibusdam dolore molestias dolorem quae eius at a eum voluptas alias vel saepe, laborum quam? Inventore itaque optio quisquam dignissimos! Minus labore magni, ullam debitis, expedita commodi vero aliquam impedit sit eos illum ab?
						br
						p
							b Paul Rudson
								br
								small Business Inteligence Analyst
				li
					div.avatar(style="background-image:url();") <!-- -->
					div
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid quo pariatur, officiis ut quaerat, veniam, quibusdam dolore molestias dolorem quae eius at a eum voluptas alias vel saepe, laborum quam? Inventore itaque optio quisquam dignissimos! Minus labore magni, ullam debitis, expedita commodi vero aliquam impedit sit eos illum ab?
						br
						p
							b Paul Rudson
								br
								small Business Inteligence Analyst
				li
					div
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid quo pariatur, officiis ut quaerat, veniam, quibusdam dolore molestias dolorem quae eius at a eum voluptas alias vel saepe, laborum quam? Inventore itaque optio quisquam dignissimos! Minus labore magni, ullam debitis, expedita commodi vero aliquam impedit sit eos illum ab?
						br
						p
							b Paul Rudson
								br
								small Business Inteligence Analyst
	section#call-to-action
		.wrap
			h1
				span Call to Action
			div.flex
				.flex50
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur tempore eaque, odit ratione hic autem, expedita quisquam facere ad totam qui. Repellat numquam laudantium obcaecati.
					a(href="#",title="Sign Up",class="btn btn_default") Sign Up
					a(href="#",title="Sign up for Webinar",class="btn btn_default") Sign up for Webinar
				.flex50(style="background-image:url();") <!-- -->
	section#map <!-- -->
	section#faq
		.wrap
			h1
				span FAQs
			ul.accordion
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
				li
					p 
						strong  Lorem ipsum dolor sit amet.
							i.material-icons &#xE145;
						span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, voluptate. Provident, doloremque, eaque. Doloribus quidem cumque repellat pariatur error, nihil nisi exercitationem officia, aperiam qui nemo sunt laboriosam libero maiores, tenetur velit at! Id, repellendus numquam, ratione commodi harum enim consectetur sint veritatis eaque, alias laudantium neque recusandae quas tempora.
			h4 Do you have more questions?
			a(href="#",title="Additional FAQs",class="btn btn_1") Additional FAQs
			a(href="#",title="Offering circular",class="btn btn_1") Offering circular
	section#forms
		.wrap
			h1
				span Forms
			forms
				h4 Please Sign Up
				span
					input(placeholder="Full name",type="text",name="name")
				span
					input(placeholder="Email",type="email",name="email")
				span
					input(placeholder="Password",type="password",name="password")
				span
					button.btn.btn_default Signup
	section#documents-downloads
		.wrap
			h1
				span Documents Downloads
			ul.flex
				li.flex33
					img(src="")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						strong 295kb
						small  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti vel doloremque commodi! Eius, quo, architecto.
					a(href="#",title="Download",class="btn btn_2") Download
				li.flex33
					img(src="")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						strong 295kb
						small  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti vel doloremque commodi! Eius, quo, architecto.
					a(href="#",title="Download",class="btn btn_2") Download
				li.flex33
					img(src="")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						strong 295kb
						small  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti vel doloremque commodi! Eius, quo, architecto.
					a(href="#",title="Download",class="btn btn_2") Download

